@model MvcTreeViewExplorer.Areas.Explorer.ViewModels.ExplorerViewModel

<div id="@Model.Id" style="display:none">
    <ul>
        @Html.Partial("~/Areas/Explorer/Views/TreeView/_TreeView.cshtml", Model)
    </ul>
</div>

<script>
    $(function () {
        var tree = new TreeView({
            checkbox: false,
            multiselection: false,
            treeId: '#@Model.Id'
        });
        tree.initialize();
    });
</script>
